---
import Layout from '../layouts/Layout.astro';
import ReactCardBoxLayout from "../components/ReactCardBoxLayout";
import {getCollection, getEntry} from 'astro:content';
import EventCard from "../components/models/EventCard";
const allShootings = await getCollection('shootings');
const cards: [EventCard] = allShootings.map(aPost => {
    return {slug: aPost.slug, ...aPost.data} as EventCard;
});
---
<Layout title="IPSC App">
    <main>
        <h1><span class="text-gradient">IPSC </span>APP</h1>
        <p class="instructions">
            En esta aplicación podrás encontrar las próximas tiradas que se harán en España de <strong>IPSC</strong>.
        </p>

        <ReactCardBoxLayout client:idle cards={cards}/>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 75%;
        font-size: 20px;
        color: white;
    }

    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }

    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }

    .instructions strong {
        color: rgb(var(--accent-light));
    }

</style>
<script>
    document?.querySelector('.hamburger')?.addEventListener('click', () => {
        document?.querySelector('.nav-links')?.classList.toggle('expanded');
    });
</script>
